flatpak/.flatpak-builder
flatpak/repo
flatpak/build-dir
.flatpak-builder
flatpak/repo
flatpak/*.flatpak

.codegpt

dist/
build
src/winecharm.egg-info/
src/winecharm/__pycache__
src/winecharm.egg-info
build
